body {
    font-family: 'Helvetica', serif;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

#btnNewWord {
    display:block;
    width:100%;
}
#btnVoteUp {
    display:block;
    width:100%;
}
#btnVoteDown {
    display:block;
    width:100%;
}