{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Manage Cards</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>All Known Cards</h3>
                {% if card_list %}
                    <div id="cards" class="list-group">
                        {% for card in card_list %}
                            <a class="list-group-item" href="{% url 'card-detail' card.pk %}">
                                {{ card.character }}<span class="badge">{{ card.cardinstance_set.count }}</span>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No Known Cards.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block addnewcard %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Create New Card</h3>
                <form class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="character" class="col-sm-2 control-label">Character Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="character"
                                   placeholder="Enter Character Name (Pikachu)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image_path" class="col-sm-2 control-label">Last Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="image_path"
                                   placeholder="/images/pikachu.png">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" id="create">Create character</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var display_error = function (msg, elem) {
            var msg_div = $('<div class="error_msg"><p>' + msg + '</p></div>');
            msg_div.insertAfter(elem).fadeIn('slow').animate({opacity: 1.0}, 3000).fadeOut('slow', function () {
                msg_div.remove();
            });
        };
        var create_note = function () {
            {% if user.is_authenticated %}
                var character = $("#character").val();
                var image_path = $("#image_path").val();
                if (character != "" && image_path != "") {
                    var data = {character: character, image_path: image_path, csrfmiddlewaretoken: '{{ csrf_token }}'};
                    var args = {type: "POST", url: "ajax_create_card/", data: data, complete: done};
                    $.ajax(args);
                }
                else {
                    // display an explanation of failure
                }
                return false;
            {% else %}
                display_error("Must be logged in to add a new card!", $("#create"));
                return false;
            {% endif %}
        };
        var done = function (res, status) {
            if (status == "success") {
                var txt = res.responseText;
                var obj = JSON.parse(txt);
                var character = obj.character;
                var image_path = obj.image_path;
                var newLi = $('<li class="list-group-item"><b>' + character + '</b></li>');
                $("#cards").prepend(newLi);
                $("#character").val("");
                $("#image_path").val("");
            }
            else {
                display_error("Only works for logged in users, are you sure you are logged in?.", $("#create"));
            }
        };
        $("#create").click(create_note);
        $("#character").keyup(function () {
            var char = this.value;
            var complete = function (res, status) {
                var response = JSON.parse(res.responseText);
                if (status == "success") {
                    if (response.available == "true") {
                        $("#character").css('background-color', 'white');
                    } else {
                        $("#character").css('background-color', '#FFA0A0');
                    }
                } else {
                    display_error("Something went wrong with the server!", $("#create"));
                }
            };
            $.ajax({type: 'GET', url: 'character-available/', data: {'character': char}, complete: complete});
        });
    </script>
{% endblock %}
