{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Card Details</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>{{ card.character }}</h3>
                {% load static %}
                <img src="{% static card.static_image_path %}" alt="My image" style="width:200px;"/>
                <hr>
                <h3>Instances</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Owner</th>
                            <th>UUID</th>
                            <th>Link to Instance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for inst in card.cardinstance_set.all %}
                            <tr>
                                <td>{{ inst.owner }}</td>
                                <td>{{ inst.id }}</td>
                                <td><a href="{% url 'cardinstance-detail' inst.id %}">Instance</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
