{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Card Instance Details</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                {% load static %}
                <img src="{% static cardinstance.card.static_image_path %}" alt="My image" style="width:200px;"/>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Character</th>
                            <th>UUID</th>
                            <th>Owner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{% url 'pokecards:card-detail' cardinstance.card.pk %}">{{ cardinstance.card.character }}</a></td>
                            <td>{{ cardinstance.id }}</td>
                            <td>{{ cardinstance.owner }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
