{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>My Own Cards</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>My Cards</h3>
                {% if cardinstance_list %}
                    <div id="cards" class="list-group">
                        {% for cardinst in cardinstance_list %}
                            <a class="list-group-item" href="{% url 'pokecards:cardinstance-detail' cardinst.id %}">
                                {{cardinst.card.character}} ({{ cardinst.id }})
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You don't have any cards.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}