{% extends 'base.html' %}

{% block title %}Curriculum Vitae{% endblock %}

{% block leftnav %}
    <h3>Outline</h3>
    <div id="outline" class="list-group">
        <a class="list-group-item" href="{% url 'cv:index' %}"><span class="glyphicon glyphicon-envelope"></span> Contact & Overview</a>
        <a class="list-group-item" href="{% url 'cv:education' %}"><span class="glyphicon glyphicon-education"></span> Education</a>
        <a class="list-group-item" href="{% url 'cv:experience' %}"><span class="glyphicon glyphicon-briefcase"></span> Work Experience</a>
        <a class="list-group-item" href="{% url 'cv:skills' %}"><span class="glyphicon glyphicon-wrench"></span> Technical Skills</a>
        <a class="list-group-item" href="{% url 'cv:publications' %}"><span class="glyphicon glyphicon-book"></span> Research Publications</a>
        <a class="list-group-item" href="{% url 'cv:memberships' %}"><span class="glyphicon glyphicon-certificate"></span> Memberships and Honors</a>
        <a class="list-group-item" href="{% url 'cv:projects' %}"><span class="glyphicon glyphicon-check"></span> Impact Projects</a>
    </div>
    <h3>Full Text</h3>
    <div id="downloads" class="list-group">
        <a class="list-group-item" href="{% url 'cv:html' %}"><span class="glyphicon glyphicon-globe"></span> HTML</a>
        <a class="list-group-item" href="{% url 'cv:pdf' %}"><span class="glyphicon glyphicon-file"></span> Print Ready</a>
    </div>
{% endblock %}