{% extends 'base.html' %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                {% include 'cv/index_content.html' %}
                <hr>
                <h3>Education</h3>
                {% include 'cv/education_content.html' %}
                <hr>
                <h3>Work Experience</h3>
                {% include 'cv/experience_content.html' %}
                <hr>
                <h3>Technical Skills</h3>
                {% include 'cv/skills_content.html' %}
                <hr>
                <h3>Research Publications</h3>
                {% include 'cv/publications_content.html' %}
                <hr>
                <h3>Memberships and Honors</h3>
                {% include 'cv/memberships_content.html' %}
                <hr>
                <h3>Impact Projects</h3>
                {% include 'cv/projects_content.html' %}
            </div>
        </div>
    </div>
{% endblock %}
