{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Game: {{ game.game_nickname }}</h1>
                <h2>Level: {{ game.level }}</h2>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Choose your favorite subject:</h3>
                <form class="form-horizontal" role="form" action="{% url 'pokecards:game-answer' game.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for answer in answers %}
                        <button class="btn btn-default" name="answer" type="submit" value="{{ answer }}">{{ answer }}</button>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
