{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Game {{ game.game_nickname }}</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                Create a submit form here that presents a problem to the user and lets them submit and move on to the next level.
            </div>
        </div>
    </div>
{% endblock %}
