{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Delete Confirmation</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Deleting game {{ game.game_nickname }}</h3>
                <form class="form-horizontal" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" id="delete_confirm">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var done = function (res, status) {
            if (status == "success") {
                location.href = "/pokecards/games/";
            }
        };
        var delete_game = function () {
            {% if user.is_authenticated %}
                var data = {csrfmiddlewaretoken: '{{ csrf_token }}'};
                var args = {type: "POST", url: "{% url 'pokecards:ajax-delete-game' game.id %}", data: data, complete: done};
                $.ajax(args);
            {% else %}
                // display_error("Must be logged in to add a new card!", $("#create"));
                return false;
            {% endif %}
        };
        $("#delete_confirm").click(delete_game);
    </script>
{% endblock %}
