{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Already Done!</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>You have already completed game: {{ game.game_nickname }}</h3>
            </div>
        </div>
    </div>
{% endblock %}