{% extends "pokecards/pokecard_base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>{{ announcement }}</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>{{ second_heading }}</h3>
                <form class="form-horizontal" role="form" action="{% url 'pokecards:game-continue' game.id %}" method="get">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" id="continue">{{ continue_word }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}