{% extends 'blog/blog_base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}
    <h3>Categories</h3>
    {% if categories %}
        <div class="list-group">
            {% for category in categories %}
                <a class="list-group-item"
                   href="{% url 'blog:view_blog_category' category.pk %}">{{ category.title }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

    <h3>Recent Posts</h3>
    {% if recent_posts %}
        <div class="list-group">
            {% for post in recent_posts %}
                <a class="list-group-item" href="{% url 'blog:view_blog_post' post.pk %}">{{ post.title }} by {{ post.author }}</a>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no posts.</p>
    {% endif %}

{% endblock %}