{% extends 'base.html' %}

{% block title %}Consulting{% endblock %}

{% block leftnav %}
    <h3>Information</h3>
    <div id="outline" class="list-group">
        <a class="list-group-item" href="{% url 'consulting:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a>
        <a class="list-group-item" href="{% url 'consulting:status' %}"><span class="glyphicon glyphicon-ok-circle"></span> Status</a>
    </div>
{% endblock %}

{% block content %}{% endblock %}

{% block addnewcard %}{% endblock %}
