<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home Page{% endblock %}</title>
    {% load static %}
    <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'pictionary.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body ng-app="pictionaryApp" ng-controller="pictionaryController">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/pictionary/audience/">Audience</a></li>
      <li><a href="/pictionary/player/">Player</a></li>
    </ul>
  </div>
</nav>

{% block body %}{% endblock %}

<script src="{% static 'vendor/angular/angular.min.js' %}"></script>
<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'pictionary.js' %}"></script>

</body>
</html>