{% extends 'base.html' %}

{% block title %}Pictionary{% endblock %}

{% block leftnav %}
    <h3>Links</h3>
    <div id="outline" class="list-group">
        <a class="list-group-item" href="{% url 'pictionary:audience' %}">
            <span class="glyphicon glyphicon-user"></span>
            <span class="glyphicon glyphicon-user"></span>
            Audience Mode
        </a>
        <a class="list-group-item" href="{% url 'pictionary:player' %}">
            <span class="glyphicon glyphicon-user"></span>
            Player Mode
        </a>
    </div>
{% endblock %}
