<!DOCTYPE html>
{% block htmlopen %}
    <html lang="en">
{% endblock %}

{% block head %}
    <head>
        <title>{% block title %}Okie Life{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Orbitron'>
        <link rel="stylesheet" type='text/css' href="{% static 'ubuntu-font/ubuntu.css' %}">
        <link rel="stylesheet" type='text/css' href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link href="{% static 'css/pictionary.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'images/main_logo.png' %}"/>
    </head>
{% endblock %}

<body>

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav" id="myNavbar">
                <li class="nav navbar-nav pull-left">
                    <a href="{% url 'root-index' %}"><img src="{% static 'images/main_logo.png' %}" style="height:25px;"></a>
                </li>
                <li><a href="{% url 'consulting:index' %}">Consulting</a></li>
                <li><a href="{% url 'cv:index' %}">CV</a></li>
                <li><a href="{% url 'family:index' %}">Family</a></li>
                <li><a href="{% url 'blog:index' %}">Blog</a></li>
                <li><a href="{% url 'pictionary:index' %}">Pictionary</a></li>
            </ul>
            <ul class="nav navbar-nav" style="float: right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="#" class="nav navbar-nav pull-right">
                            <span class="glyphicon glyphicon-user"></span> User: {{ user.get_username }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}?next={{ request.path }}" class="nav navbar-nav pull-right">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}?next={{ request.path }}" class="nav navbar-nav pull-right">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-2">
                {% block leftnav %}{% endblock %}
            </div>
            <div class="col-md-10">
            {% csrf_token %}
                {% block content %}{% endblock %}
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div class="col-md-6">
                            {% block pagination %}
                                {% if is_paginated %}
                                    <div class="pagination">
                                    <span class="page-links">
                                         {% if page_obj.has_previous %}
                                             <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&#x226a;</a>
                                         {% endif %}
                                        <span class="page-current">
                                             Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                         </span>
                                        {% if page_obj.has_next %}
                                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">&#x226b;</a>
                                        {% endif %}
                                    </span>
                                    </div>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'angular/angular.js' %}"></script>
    <script src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'angular-ui-grid/ui-grid.min.js' %}"></script>
    <script src="{% static 'angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'lodash/lodash.js' %}"></script>
    <script src="{% static 'js/pictionary.js' %}"></script>

</body>

</html>