{% extends 'base.html' %}

{% block leftnav %}
    {% load static %}
    <div>
        <img src="{% static 'images/main_logo.png' %}" style="max-width:100%;">
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-10">
                <h3>Home Page</h3>
                <p>This is the home page for Okie.Life. This website contains information about my consulting work, and
                    is also a place for my kids to practice actual web development.</p>
            </div>
        </div>
    </div>
{% endblock %}
